* {
  font-size: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: "Fira Code";
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(-135deg, #f39c12, #d35400); */
  background: linear-gradient(-135deg, rgb(0, 89, 255), rgb(252, 55, 55));
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  width: 550px;
  padding: 10px 40px;
  border: 5px solid black;
  border-radius: 20px;
  background: #e28c01;
}
.app:hover {
  box-shadow: 0px 60px 90px rgb(50, 50, 50);
}
.app__buttons {
  display: flex;
}
.app__inputs {
  display: flex;
  flex-direction: column;
}
.app .app__buttons > button {
  flex: 1;
  margin: 10px 1px;
  padding: 15px 25px;
}
.app .app__buttons > button:first-child {
  background: lightblue;
}
.app .app__buttons > button:first-child:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 1);
}
.app .app__buttons > button:last-child {
  background: red;
}
.app .app__buttons > button:last-child:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 1);
}
.app > button,
.app__buttons > button {
  border: none;
  margin: 10px 0;
}
.app > button {
  padding: 15px 25px;
  background: limegreen;
}
.app > button:hover {
  width: 100%;
  height: 50px;
  border: none;
  margin: 10px 0;
  transform: translateY(-3px);
  box-shadow: 0px 10px 40px black;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0px 25px;
}
.app > input {
  padding: 15px 25px;
  margin: 5px;
  outline: none;
}
input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
input:focus {
  border: 3px solid black;
}
@media only screen and (max-width: 640px) {
  .app {
    width: 100%;
  }
  .app:hover {
    box-shadow: 0px 0px 0px transparent;
  }
  body {
    padding: 0 20px;
  }
  .app .app__buttons > button:first-child:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px transparent;
  }
  .app .app__buttons > button:last-child:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px transparent;
  }
  .app > button:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px transparent;
  }
}
